
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: teal;
    position: sticky;
    top: 0;
    width: 100%;

}

nav>p,
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 18px;
}